@media (max-width:599px) {
  #head {
    display:block;
  }
  #head .wrapper {
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  #head img {
    max-width:25%;
  }
  #head > .wrapper > a {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  #menu {
    display:none;
    border-top: 1px solid;
    padding-top: 5px;
    margin-bottom: 0;
  }
  #head label {
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
    width:10%;
    text-align: center;
    margin: 10px;
  }
  .incidentBox {
    width:100%;
    min-width:unset;
    padding:2em 0;
  }
  .links a {
    padding:0;
  }
  .questionContent h2 {
    width:80%;
    font-size: 1.3em;
  }
  #intro {
    padding: 1.5em;
  }
  #intro h1 {
    line-height: 1.2em;
    font-size: 2em;
  }
  .text-img-wrap {
    flex-direction: column-reverse;
  }
  .text-buttons-wrap {
    margin:0;
    max-width: inherit;
  }
  #img-intro {
    width:100%;
    margin:0;
  }
  #head img {
    max-width: 40%;
  }
  #head label {
    position: unset;
    width: unset;
    text-align: right;
    margin: 0.5em 1em;
    float: right;
  }
  #head {
    display:flex;
    justify-content: space-between;
  }
  #menu-check:checked ~ ul {
    flex-direction: column;
    text-align: right;
    margin:0;
    padding:0;
    align-items: end;
    width:45%;
    float:right;
    border-top: 0;
  }
  #page {
    padding-top: 6em;
  }
  .links li:last-child {
    padding: 0.1em 1em;
  }
  .links li:first-child {
    border: 1px solid;
    padding: 0.1em 1em;
  }
  .links li {
    min-width: 90px;
  }
  .feature {
    width:100%;
    margin:1em auto;
  }
  #features {
    padding:1em;
    flex-direction: column;
  }
  #overview section {
    width:100%;
    margin-bottom: 1em;
    border-bottom: 2px solid #fff;
  }
  #cta {
    flex-direction: column;
    padding: 1em;
  }
  .links {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    /* fallback */
    justify-content: center; 
    justify-content: space-evenly;
  }
}

@media (min-width:600px) {
  #head img {
    max-width: 50%;
  }
  #head .wrapper {
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  #expand {
    display: none;
  }
}
