/* #9E7841
#EBC58F */

/* Structural styles */
html, body {
  height:100%;
}

body {
  font-family: "Helvetica", "OpenSans", sans-serif;
  margin: 0;
  font-size: 14px;
  color: #668EAA;
  line-height: 1.75em;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x:hidden;
}

#head {
  position: fixed;
  /* background-color: #8FC5EA; */
  /* background-color: #96CAEE; */
  width:100%;
  border-bottom: 1px solid #066493;
  display: flex;
  padding: 1em;
  box-sizing: border-box;
  max-height: 9em;
  align-items: center;
  z-index: 1;
}

#img-intro {
  width: 75%;
  border: 1px solid white;
  margin: 2em 4em 0;
  filter: drop-shadow(0px 0px 3px #eee);
}
.nav-scroll {
  background-color: #fff;
  color:#066493;
}
.nav-start {
  background-color: #066493;
  color: #fff;
}

.nav-scroll #logo{
  filter:brightness(0.9);
}

#page {
  flex: 1 0 auto;
  padding-top:8.5em;
}

#foot {
  flex-shrink: 0;
}
.wrapper {
  width: 75%;
  max-width:1000px;
  margin: 0 auto;
}

#head h1 {
  display:inline-block;
}

#head h2 {
  font-size: 2rem;
  display:inline-block;
  padding-left: 10px;
}

#head img {
  padding: 10px;
}

.text-img-wrap {
  display:flex;
  flex-direction: row;
}
.text-buttons-wrap {
  margin: 2em 4em 2em 0;
  max-width: 25%;
}
.links {
  list-style: none;
  margin-left: auto;
}

.links a, .links a:visited {
  padding: 5px;
  border:2px solid;
  border-radius: 5%;
  border-color: transparent;
  color:inherit;
}

.links a:hover, .links a.active {
  border-color: #fff;
}
.nav-scroll .links a:hover, .nav-scroll .links a.active {
  border-color: #066493;
}

.links li {
  display:inline;
  padding: 0 20px;
}

.links li:first-child {
  padding-left: 0;
}
.links li:last-child {
  padding-right: 0;
}

#foot a {
  font-size: 0.8rem;
}

/* Button styles */

/* Actual checkboxes set to display:none. We'll be styling the labels and then simply checking if the checkboxes are checked to show and hide the nav. */
#menu-check {
  display: none;
}

#menu-collapse {
  display: none;
}

/* Style the checkbox labels.*/
#expand {
  cursor: pointer;
}

#collapse {
  cursor: pointer;
  display: none;
}

/* If menu-check is checked, set the collapse icon to display... */
#menu-check:checked ~ #collapse {
  display: block;
}

/* ...and if menu-check is checked, then set this icon to disappear */
#menu-check:checked ~ #expand {
  display: none;
}

/* ...and if collapse is checked, set expand to display again */
#menu-collapse:checked ~ #expand {
  display: block;
}

/* Show and hide the nav */
#menu-check:checked ~ ul {
  display: flex;
  justify-content: space-around;
}

#menu-collapse:checked ~ ul {
  display: none;
}

/* ================== */
/* Content styles */

a {
  text-decoration: none;
}

.questionContent {
  display:none;
}
.questionContent.current {
  display:block;
}

.questionContent h2 {
  width:90%;
}

.questionContent > .btn-tert {
  min-width:3em;
}

#secretLink {
  color:#fff;
}


/* ================== */
/* Info panel styles */
.info-display {
  border-top: 1px solid rgba(143,197,234,0.5);
}

.question-panel {
  border: 1px solid #8FC5EA;
  border-left:0;
  border-right:0;
  margin: 2em 0;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.question-panel i {
  font-size: 2em;
  align-self: center;
  opacity: 0.5;
}

.question-panel i:hover, .question-panel i.highlight {
  opacity: 1;
}

.question-panel i.highlight{
  transform: rotate(45deg);
}
/* ================== */
/* Preview styles */

#previewPolicy:disabled {
  background-color: #f6f6f6;
  color: #888685;
  border-color: #ccc;
  cursor: initial;
  border-width: 1px;
  border-radius: 5%;
  opacity:75%;
}

#submitAnswers:disabled {
  cursor: not-allowed;
  opacity:75%;
  background-color: #888685;
  border:#ccc;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 100%;
  height: 50%;
  max-height: 100%;
  z-index: 10;
  display: flex;
}
.closed {
  display: none;
}

.feature ul {
  padding: 0 0 0 10px;
}

#closePreview {
  z-index: 1;
  position: absolute;
  right: -0.5em;
  background-color: #fff;
  color:#668EAA;
  border: 2px solid #668EAA;
  border-radius: 50%;
  padding: 0.5em 0.75em;
  top: -1em;
  cursor: pointer;
  font-size:1.5em;
}

.modalScrollbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 50px 20px 20px;
  overflow: auto;
  background-color: #fff;
  box-sizing: border-box;
}

.modalOverlay {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.main-content > div {
  padding: 4em 6em;
}

#overview {
  display: flex;
  justify-content: space-evenly;
}

#overview section {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#overview img {
  width:100%;
}

#cta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 0;
}


#intro {
  background-color: #066493;
  padding-top:2em;
}

#intro h1, #intro h2 {
  text-align: left;
}

#intro h1 {
  font-size: 2.5em;
}

#intro h2 {
  font-weight: lighter;
  font-size: 1em;
}

#policy .text-img-wrap {
  justify-content: space-between;
  margin-top:2.5em;
}

#policy textarea {
  border: none;
  padding: 1em 2em;
  box-sizing: border-box;
  text-align: left;
}

#policy-dl {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  border: 4px solid currentColor;
  border-radius: 4%;
  padding: 1em;
}

#policy-edit {
  width: 70%;
  background-color: currentColor;
  padding: 1em;
}

#policy-edit h3 {
  color:#fff;
}

#policy i {
  padding-left: 5px;
}

#features {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.feature {
  width: 30%;
  border: 1px solid #8FC5EA;
  color: #066493;
  box-shadow: 0px 4px 5px #eee;
  margin: 1em;
}

.feat-wrap {
  padding: 2em;
}

.feature i {
  font-size: 6em;
  text-align: center;
  color: #8FC5EA;
  display: block;
  background-color: #066392;
  padding: 10px;
}
.btn {
  border-radius: 5%;
  border:2px solid;
  padding: 10px;
  margin: 10px;
  min-width:10em;
  text-align: center;
  cursor: pointer;
}

.btn-prim {
  background-color: #668EAA;
  border-color: #668EAA;
  color:#fff;
  font-weight: bold;
}
.btn-prim:hover, .btn-seco:hover {
  background-color: #8FC5EA;
  border-color: #8FC5EA;
  color:#fff;
}
/* ghost for secondary content - thin border */
.btn-seco {
  color: #066392;
  border-color: #8FC5EA;
}
#intro .btn-seco {
  color:#fff;
}
/* flat minimises distraction - no border */
.btn-tert {
  border: 0;
  color: #fff;
  background-color: #ccc;
  border-radius: 10%;
  min-width: 0;
  align-self: center;
}

.btn-tert.highlight {
  background-color: #8FC5EA;
}

.btn-wrap {
  display:flex;
}

.wrap-c {
  flex-direction: column;
  align-items: flex-start;
}

.wrap-r {
  justify-content: flex-end;
}
progress {
  width:100%;
  border: 0;
  height: 18px;
  border-radius: 9px;
  opacity: 0.3;
  border:1px solid #066493;
  color:#066493;
}
progress[value="0"] {
  display:none;
}
.policyHolder {
  width:100%;
  height: 50%;
  padding: 2em 0;
  display:inline-block;
  min-height:200px;
}
small a {
  color:inherit;
  text-decoration: underline;
}
.incidentBox {
  text-align: left;
  min-width: 400px;
  min-height: 100px;
  padding:2em;
}

.answers-container {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.answers-container > * {
  flex: 1 28%;
}

.form-el {
  line-height: 3em;
  min-width: 200px;
  text-align: center;
  margin:2em;
}

.form-el label {
  display:inline;
  font-size: 1.3em;
}

.btn-edit {
  cursor: text;
}

input[type=text], textarea{
  display:block;
  padding: 2em;
  text-align: center;
  color:inherit;
  border:none;
  border-bottom-style: dotted;
}

input[type=text]{
  margin: 0 auto;
}

form > div > div > input[type='radio'],
form > div > div > input[type='checkbox'] {
    /* Hide the input, but have it still be clickable */
    opacity: 0;
    position: absolute;
    z-index: 10;
}

form > div > div > input[type='radio'] + label,
form > div > div > input[type='checkbox'] + label {
    /* Make look clickable because they are */
    cursor: pointer;
    padding:1em;
    display:block;
    border:2px solid #96CAEE;
}

form > div > div > input[type='radio'] + label{
  border-radius: 2em;
}
form > div > div > input[type='checkbox'] + label {
  border-radius: 0.5em;
}

form > div > div > input:checked + label {
  background-color: #96CAEE;
  color:#fff;
}

.notice {
  font-size: 0.8em;
  color: #fff;
  background-color: #7cadcf;
  padding: 1em;
  text-align: center;
}
.notice h4, .notice p{
  margin:0;
}
