/* #9E7841
#EBC58F */

/* Structural styles */

body {
  font-family: "Helvetica", "OpenSans", sans-serif;
  margin: 0;
  font-size: 14px;
  color: #668EAA;
  line-height: 1.5em;
}


#head, #page, #foot {
  padding: 10px;
}

.wrapper {
  width: 75%;
  max-width:1000px;
  margin: 0 auto;
}

#head {
  background-color: #8FC5EA;
  /* background-color: #96CAEE; */
  margin-bottom: 10px;
  color:#fff;
}

#head h1 {
  display:inline-block;
}

#head h2 {
  font-size: 2rem;
  display:inline-block;
  padding-left: 10px;
}

#head img {
  padding: 10px;
}

.links {
  list-style: none;
  padding-left: 0;
}

.links a {
  color:#fff;
  padding: 5px;
  border:2px solid;
  border-radius: 5%;
  border-color: transparent;
}

.links a:hover, .links a.active {
  border-color: #fff;
}

.links li {
  display:inline;
  padding: 0 20px;
}

.links li:first-child {
  padding-left: 0;
}
.links li:last-child {
  padding-right: 0;
}

#foot {
  background-color: #96CAEE;
}

#foot a {
  font-size: 0.8rem;
}

/* Button styles */

/* Actual checkboxes set to display:none. We'll be styling the labels and then simply checking if the checkboxes are checked to show and hide the nav. */
#menu-check {
  display: none;
}

#menu-collapse {
  display: none;
}

/* Style the checkbox labels.*/
#expand {
  cursor: pointer;
}

#collapse {
  cursor: pointer;
  display: none;
}

/* If menu-check is checked, set the collapse icon to display... */
#menu-check:checked ~ #collapse {
  display: block;
}

/* ...and if menu-check is checked, then set this icon to disappear */
#menu-check:checked ~ #expand {
  display: none;
}

/* ...and if collapse is checked, set expand to display again */
#menu-collapse:checked ~ #expand {
  display: block;
}

/* Show and hide the nav */
#menu-check:checked ~ ul {
  display: flex;
  justify-content: space-around;
}

#menu-collapse:checked ~ ul {
  display: none;
}

/* ================== */
/* Content styles */

a {
  text-decoration: none;
}

.questionContent {
  display:none;
}
.questionContent.current {
  display:block;
}

.questionContent h2 {
  display:inline-block;
}

.questionContent > .btn-tert {
  min-width:3em;
}

#secretLink {
  color:#fff;
}

.form-el label {
  display:inline;
  padding-left: 5px;
}

/* ================== */
/* Info panel styles */


/* ================== */
/* Preview styles */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 100%;
  height: 50%;
  max-height: 100%;
  z-index: 10;
  display: flex;
}
.closed {
  display: none;
}

#closePreview {
  z-index: 1;
  position: absolute;
  right: 0;
}

.modalScrollbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 50px 20px 20px;
  overflow: auto;
  background-color: #fff;
}

.modalOverlay {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

section {
  margin:5em 0;
}

#intro h1, #intro h2 {
  text-align: center;
}

#intro h2 {
  font-weight: lighter;
  font-size: 1.1rem;
}

#features {
  background:#8FC5EA;
  color:#fff;
}
.feature {
  display:flex;
  padding: 2em 0;
  align-items: center;
}
.feature:first-child {
  background-color: rgba(255,255,255,0.3);
}
.feature:nth-child(2) {
  flex-direction: row-reverse;
  background-color: rgba(255,255,255,0.15);
}
.feature:nth-child(2) .feat-wrap {
  text-align: right;
}
.feature i {
  font-size: 6em;
  margin:0.25em;
}
/* .feature:first-child h3::before {
  content: "1";
}
.feature:nth-child(2) h3::before {
  content: "2";
}
.feature:last-child h3::before {
  content: "3";
}
.feature h3::before {
  font-size: 4rem;
} */

/* solid colour for positive action */
/* raised with drop shadow, emphasise functions */
.btn {
  border-radius: 5%;
  border:2px solid;
  padding: 10px;
  margin: 0 10px;
  min-width:10em;
  text-align: center;
  cursor: pointer;
}

.btn-prim {
  background-color: #668EAA;
  border-color: #668EAA;
  /* border-color: #EBC58F; */
  color:#fff;
  font-weight: bold;
}
.btn-prim:hover, .btn-seco:hover {
  background-color: #8FC5EA;
  border-color: #8FC5EA;
  color:#fff;
}
/* ghost for secondary content - thin border */
.btn-seco {
  color: #668EAA;
  border-color: #8FC5EA;
}

/* flat minimises distraction - no border */
.btn-tert {
  border: 0;
  color: #fff;
  background-color: #ccc;
  border-radius: 10%;
  padding: 5px 10px;
}

.btn-tert.highlight {
  background-color: #8FC5EA;
}

.btn-wrap {
  display:flex;
  margin: 3em 0;
}

.wrap-c {
  justify-content: center;
}

.wrap-r {
  justify-content: right;
}
