/* Colors
Oxford blue
#1b263b

Sapphire blue
#066493

Alabaster
#F2EEE2

Light Steel Blue
#A9BCD0

Amaranth
#893168
*/

/* Structural styles */
html, body {
  height:100%;
}
/* TODO: fix so it applies just to external links
a[href]:visited {
  color:inherit;
} */
a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: 'SinkinSansLight';
  src: url('../fonts/SinkinSans-300Light.otf');
}
@font-face {
  font-family: 'SinkinSansMedium';
  src: url('../fonts/SinkinSans-500Medium.otf');
}
@font-face {
  font-family: 'SinkinSansBold';
  src: url('../fonts/SinkinSans-700Bold.otf');
}
body {
  font-family: "SinkinSansMedium", "Helvetica", "OpenSans", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #066493;
  line-height: 1.75em;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x:hidden;
}

p {
  font-family: "SinkinSansLight", "Helvetica", "OpenSans", sans-serif;
}

#head {
  position: fixed;
  width:100%;
  display: flex;
  padding: 5px 4em 0 4em;
  box-sizing: border-box;
  background: rgba(27,38,59,0.75);
  align-items: center;
  z-index: 1;
}

#img-intro {
  width: 75%;
  border: 1px solid white;
  margin: 2em 4em 0;
  filter: drop-shadow(0px 0px 3px #eee);
}
.nav-scroll {
  color: #A9BCD0;
}
.nav-start {
  background-color: transparent;
  color: #f2eee2;
}
#head.nav-start {
  opacity:0;
}
.nav-scroll #logo{
  filter:brightness(0.9);
}

#page {
  flex: 1 0 auto;
  background: #1b263b;
}
.editMode {
  border: 3em #8FC5EA solid;
  border-top: 0;
  border-bottom: 0;
}

#editBtn.editMode {
  border-width: 0.5em;
}
#editBtn {
  color: #066493;
  cursor: pointer;
}
.nav-scroll #editBtn {
  color:#fff;
}

#foot {
  flex-shrink: 0;
  background: #1b263b;
}
.wrapper {
  width: 75%;
  max-width:1000px;
  margin: 0 auto;
}

#head h1 {
  display:inline-block;
}

#head h2 {
  font-size: 2rem;
  display:inline-block;
  padding-left: 10px;
}

#logoBig {
  max-height: 110px;
}
#logoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#logoContainer > div {
  margin-right: 4em;
}
.text-img-wrap {
  display:flex;
  flex-direction: row;
}

.text-buttons-wrap {
  margin: 2em 4em 2em 0;
  max-width: 25%;
}
.links {
  list-style: none;
  margin-left: auto;
}

.links a, .links a:visited {
  padding: 5px;
  border:2px solid;
  border-radius: 5%;
  border-color: transparent;
  color:inherit;
}

.links a:hover, .links a.active {
  border-color: #066493;
}
.nav-scroll .links a:hover, .nav-scroll .links a.active {
  border-color: #066493;
}

.links li {
  display:inline;
  padding: 0 20px;
}

.links li:first-child {
  padding-left: 0;
}
.links li:last-child {
  background-color: #fff;
  font-weight: bold;
  padding:1em;
}
.nav-start .links li:last-child a{
  color:#066493;
}

.nav-scroll .links li:last-child {
  background-color: #066493;
  color: #fff;
}

#foot a {
  font-size: 0.8rem;
}

/* Button styles */

/* Actual checkboxes set to display:none. Styling the labels and then simply checking if the checkboxes are checked to show and hide the nav. */
#menu-check {
  display: none;
}

#menu-collapse {
  display: none;
}

/* Style the checkbox labels.*/
#expand {
  cursor: pointer;
}

#collapse {
  cursor: pointer;
  display: none;
}

/* If menu-check is checked, set the collapse icon to display... */
#menu-check:checked ~ #collapse {
  display: block;
}

/* ...and if menu-check is checked, then set this icon to disappear */
#menu-check:checked ~ #expand {
  display: none;
}

/* ...and if collapse is checked, set expand to display again */
#menu-collapse:checked ~ #expand {
  display: block;
}

/* Show and hide the nav */
#menu-check:checked ~ ul {
  display: flex;
  justify-content: space-around;
}

#menu-collapse:checked ~ ul {
  display: none;
}

/* ================== */
/* Content styles */

a {
  text-decoration: none;
}

.questionContent {
  display:none;
}
.questionContent.current {
  display:block;
}

.questionContent h2 {
  width:85%;
}

.questionContent > .btn-tert {
  min-width:3em;
}

#secretLink {
  color:#fff;
}

#questionContainer {
  padding-top:2em;
}

#q0 .text-img-wrap {
  display:flex;
  flex-wrap: wrap;
  padding: 0;
}

#q0 img {
  width:100%;
  border-radius: 5%;
}

#q0 section {
  flex: 2 2 20%;
  margin: 3em 2em;
  border: 5px solid currentColor;
  border-radius:4%;
}

#q0 section p {
  padding: 0.5em 2em;
}

#q0 h1 {
  font-size: 1.6em;
}
#q0 h2 {
  font-size: 1.2em;
}

/* ================== */
/* Info panel styles */
.info-display {
  border-top: 1px solid rgba(143,197,234,0.5);
}

.question-panel {
  border: 1px solid #8FC5EA;
  border-left:0;
  border-right:0;
  margin: 2em 0;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.question-panel i {
  font-size: 2em;
  align-self: center;
  opacity: 0.5;
}

.question-panel i:hover, .question-panel i.highlight {
  opacity: 1;
}

.question-panel i.highlight{
  transform: rotate(45deg);
}
/* ================== */
/* Preview styles */

#previewPolicy:disabled, #editBtn.disabled {
  display:none;
}


#submitAnswers:disabled {
  cursor: not-allowed;
  opacity:75%;
  background-color: #888685;
  border:#ccc;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  max-width: 95%;
  height: 75%;
  max-height: 95%;
  z-index: 10;
  display: flex;
}
.closed {
  display: none;
}

.feature ul {
  padding: 0 0 0 10px;
}

#closePreview {
  z-index: 1;
  position: absolute;
  right: -1.5em;
  background-color: initial;
  color:#668EAA;
  border: none;
  padding: 0.5em 0.75em;
  top: -1em;
  cursor: pointer;
  font-size:1.5em;
}
#closePreview .fas {
  transform: rotate(45deg);
  font-size: 2em;
  background-color: #fff;
  border-radius: 50%;
}

#preview h4 {
  border-top:1px solid;
  padding-top:0.5em;
}

.modalScrollbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 50px 20px 20px;
  overflow: auto;
  background-color: #fff;
  box-sizing: border-box;
}

.modalOverlay {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.main-content > div {
  padding: 4em 6em;
}

.homeSectionOverview{
  padding: 0 0 2em 3em;
  font-size: 1em;
  line-height: 1.6em;
}
.homeSectionOverview li {
  padding: 0.5em 0;
}
.homeSectionOverview ol, .homeSectionOverview ul {
  margin-left: 1em;
  padding: 0;
}
.curtain {
  margin-top: 1em;
  font-size: initial;
}
.curtain summary {
  background: rgba(27,38,59,0.75);
  color: #f2eee2;
  padding: 1em;
}
details[open=""] summary {
  opacity: 0.5;
}
#overview {
  display: flex;
  justify-content: space-evenly;
}

#overview section {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#overview img {
  width:100%;
  filter:drop-shadow(0px 0px 3px #eee);
}

#cta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 0;
  filter:drop-shadow(1px 1px 3px currentColor);
}

.nav-start p a {
  color: #fff;
  font-weight: bold;
}

#intro {
  background: linear-gradient(to right bottom, #1b263b, #066493, #b93168);
  padding: 5em 4em 8em;
}

#intro h1, #intro h2 {
  text-align: left;
}

#intro h1 {
  font-size: 2.4em;
  line-height: 1.5em;
  margin: 2em 0;
  width:80%;
}

#intro h2 {
  font-weight: lighter;
  font-size: 1em;
  text-align: center;
  padding-bottom: 1em;
}

#intro input {
  background: #f2eee2;
  background:transparent;
  margin: 0 auto;
}

#intro .btn {
  font-size: 0.75em;
  margin-top:3em;
}

#intro .wrap-c {
  align-items: center;
}

.window {
  border:1px solid #b93168;
  margin:4em;
  margin-top: -4em;
  background: #f2eee2;
  box-shadow: 0px 0px 1em #b93168;
  display:flex;
  flex-direction: row;
}
.window .title {
  background: #1b263b;
  color: #f2eee2;
  max-width: 40%;
}

.window:first-child {
  margin-top: -4em;
}
#page > .window ~ .window {
  margin-top: 4em;
}

.window h3 {
  font-family: 'SinkinSansBold';
  text-transform: uppercase;
  font-size: 5em;
  max-width: 5em;
  line-height: 1.5em;
  margin: 0;
  padding:0 2em 0 0;
}

#policy .text-img-wrap {
  justify-content: space-between;
  margin-top:2.5em;
}

#policy textarea {
  border: none;
  padding: 1em 2em;
  box-sizing: border-box;
  text-align: left;
}

#policy-dl {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  border: 4px solid currentColor;
  border-radius: 4%;
  padding: 1em;
}

#policy-edit {
  width: 70%;
  background-color: currentColor;
  padding: 1em;
}

#policy-edit h3 {
  color:#fff;
}

#policy i {
  padding-left: 5px;
}

#resources {
  padding-top: 0;
  border-top: 2px solid currentColor;
}

#features {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.feature {
  width: 30%;
  border: 1px solid #8FC5EA;
  color: #066493;
  box-shadow: 0px 4px 5px #eee;
  margin: 1em;
}

.feat-wrap {
  padding: 2em;
}

.feature i {
  font-size: 6em;
  text-align: center;
  color: #8FC5EA;
  display: block;
  background-color: #066392;
  padding: 10px;
}
.btn {
  border-radius: 5%;
  border:2px solid;
  padding: 5px;
  margin: 10px;
  min-width:10em;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
}

.btn-prim {
  background-color: #b93168;
  border-color: #b93168;
  color:#fff;
  font-weight: bold;
}
.btn-prim:hover, .btn-seco:hover, #intro .btn-seco:hover{
  background-color: #8FC5EA;
  border-color: #8FC5EA;
  color:#066493;
}
/* ghost for secondary content - thin border */
.btn-seco {
  color: #066392;
  border-color: #8FC5EA;
}
#intro .btn-seco {
  color:#fff;
}
/* flat minimises distraction - no border */
.btn-tert {
  border: 0;
  color: #fff;
  background-color: #066493;
  border-radius: 5%;
  min-width: 0;
  border:1px solid #fff;
}

.btn-tert:hover {
  background-color: #8FC5EA;
  filter: drop-shadow(0px 0px 3px #fff);
}

.btn-tert.highlight {
  background-color: #8FC5EA;
  filter: drop-shadow(0px 0px 3px #fff);
}

.btn-wrap {
  display:flex;
}

.wrap-c {
  flex-direction: column;
  align-items: flex-start;
}

.wrap-r {
  justify-content: flex-end;
  margin-bottom:1em;
}
progress {
  width:100%;
  border: 0;
  height: 18px;
  border-radius: 9px;
  opacity: 0.3;
  border:1px solid #066493;
  color:#066493;
}
progress[value="0"] {
  display:none;
}
.policyHolder {
  width:100%;
  height: 50%;
  padding: 2em 0;
  display:inline-block;
  min-height:200px;
}
small a {
  color:inherit;
  text-decoration: underline;
}
small {
  padding: 1em 0;
}
.incidentBox {
  text-align: left;
  padding:2em;
  width: 95%;
  min-height: 160px;
}

.answers-container {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.answers-container > * {
  flex: 1 28%;
}

.form-el {
  line-height: 3em;
  min-width: 200px;
  text-align: center;
  margin:2em;
}

.form-el label {
  display:inline;
  font-size: 1.1em;
  line-height: 2em;
}
.form-el label[contenteditable="true"] {
  border-style: dotted;
  border-width:3px;
}

.btn-edit {
  cursor: text;
}

input[type=text], textarea{
  display:block;
  padding: 2em;
  text-align: center;
  color:inherit;
  border:none;
  border-bottom-style: dotted;
}

input[type=text]{
  margin: 0 auto;
}

form > div > div > input[type='radio'],
form > div > div > input[type='checkbox'] {
    /* Hide the input, but have it still be clickable */
    opacity: 0;
    position: absolute;
    z-index: 10;
}

form > div > div > input[type='radio'] + label,
form > div > div > input[type='checkbox'] + label {
    /* Make look clickable because they are */
    cursor: pointer;
    padding:1em;
    display:block;
    border:2px solid #96CAEE;
}

form > div > div > input[type='radio'] + label{
  border-radius: 2em;
}
form > div > div > input[type='checkbox'] + label {
  border-radius: 0.5em;
}

form > div > div > input:checked + label, .form-el input + label:hover {
  background-color: #96CAEE;
  color:#066493;
  border-color: currentColor;
}

.q0-only {
  font-size: 1em;
  color: #fff;
  background-color: #7cadcf;
  padding: 1em 0;
  text-align: center;
  margin:0 10px;
}
span.q0-only {
  background-color: initial;
  color: inherit;
}
.q0-only h4, .q0-only p{
  margin:0;
}

#bgContainer {
  padding:0;
}
#bgContainer section {
  padding:2em 6em;
  display:flex;
  align-items: center;
}
#maintenanceGroup {
  display:flex;
}
#maintenanceGroup .dbl {
  display:flex;
  align-items: center;
}

#bgContainer .text-img-wrap {
  flex-direction: column;
  flex: 1 1 90%;
}
#bgContainer section > div > p {
  flex: 1 2 52%;
}
#bgContainer img {
  border-radius: 5px;
  height:100%;
  max-width:500px;
}
#bgContainer .nav-start img {
  filter:drop-shadow(0px 0px 3px #eee);
}
#bgContainer .nav-scroll img {
  filter:drop-shadow(0px 0px 3px currentColor);
}
/* #bgContainer .trio img {
  margin:1em;
  width:100%;
} */
.border-white-round {
  border: 2px solid #fff;
  padding: 1em 2em;
  border-radius: 1.5em;
}
.trio-wrap {
  display:flex;
  justify-content: space-evenly;
}
.dbl {
  flex-direction: row;
}
.dbl.reverse {
  flex-direction: row-reverse;
}


.grid {
  display:flex;
  flex-direction: column;
  align-items: center;
  flex:2 0 15%;
  margin-left:4em;
}
.grid img {
  margin: 0
  flex: 1 2 50%;
}

.trio p {
  flex: 2 0 60%;
}
.trio h1 {
  flex: 1 0 15%;
}
.dbl img {
  margin-right: 2em;
  margin-left: 0;
  flex: 1 1 40%;
}
.dbl.reverse img {
  margin-left: 2em;
  margin-right: 0;
}

.spacer {
  flex-grow:100;
}
#dl-wrapper {
  display:flex;
}
.showAllQs {
  display:block;
}
#howTrio {
  display: flex;
}
#home-pic {
  flex: 1 1 60%;
  margin: 1em;
}
#howTrio .trioPics img {
  max-width: 100%;
}
#img-intro {
  width:100%;
  margin:0;
}

.nav-start .btn.btn-seco {
  color: #fff;
  background-color: #066493;
}

.nav-start .btn.btn-seco:hover, .nav-start .btn.btn-tert:hover {
  color: #066392;
  background-color: #fff;
}

textarea {
  border-style: dotted;
}
textarea[placeholder] {
  font-size: 1em;
}

/* TESTING OUT BACKGROUNDS - IGNORE */

/* styles.css | http://localhost:8000/assets/css/styles.css */

/* #intro {
  background-size: cover;
}

.text-img-wrap {
  background-color: ;
}

#intro .text-img-wrap, #intro h1 {
  background-color: rgba(255,255,255,0.5);
  padding: 0.5em 1em;
  color: #066493;
} */
